.scrollContainer {
  display: flex;
  gap: 16px;
  height: 472px;
  overflow-y: scroll;
  flex-direction: column;
}

.container {
  padding-left: 32px;
}

.iconContainer {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.componentContainer {
  width: 600px;
  height: 656px;
  display: grid;
  justify-items: end;
}
.plugContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--interface-modal-bg, #1c1c21);
  border-radius: 30px;
  width: 100%;
  margin-top: 56px;
  font-family: "Jet Brains Mono";
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.plugContainerHighlighted {
  box-shadow: 0px 4px 32px 0px rgba(22, 224, 79, 0.5),
    0px 0px 8px 8px rgba(51, 51, 255, 0.25),
    0px 0px 16px 8px rgba(51, 51, 255, 0.25);
}

.constructorContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.totalContainer {
  display: flex;
  column-gap: 40px;
  align-self: end;
  align-items: center;
}

.costContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
