.ingridientContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  margin-left: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
  row-gap: 32px;
}

.ingridientBlock {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.priceContainer {
  display: flex;
  column-gap: 8px;
}

.tabContainer {
  display: flex;
}

.componentContainer {
  max-width: 600px;
}

.scrollContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 700px;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
